:root {
  --main-color: #f6ba44;
  --main-color-2: #ffe296;
  --text-color: #090a0d;
  --text-color-2: #121319;
  --text-color-3: #1b1d25;
  --text-color-4: #2e313d;
  --border-color: #bcc0cf;
  --border-color-2: #d8dbe7;
  --back-color: #fff;
  --back-color-2: #e6e9f3;
  --back-color-3: #d8dbe7;
  --back-color-4: #bcc0cf;
  --alert-color: #ff1e1e;
}

[data-theme="dark"] {
  --main-color: #f6ba44;
  --main-color-2: #ffe296;
  --text-color: #fff;
  --text-color-2: #e6e9f3;
  --text-color-3: #d8dbe7;
  --text-color-4: #bcc0cf;
  --border-color: #2e313d;
  --border-color-2: #1b1d25;
  --back-color: #090a0d;
  --back-color-2: #121319;
  --back-color-3: #1b1d25;
  --back-color-4: #2e313d;
  --alert-color: #ff1e1e;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  background-color: var(--back-color);
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
button {
  border: none;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
* {
  box-sizing: border-box;
}
